<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head", {title: 'Todos los productos'}) %>  
    </head>
    <body class="body_detalle_producto">
 <!--MENU-->
    <header>
             <%- include("../partials/header") %>
    </header>

    <br>
    <br>
    <br>
<!--MENU-->
        
    <main class="main_detalle_producto">

        <div class="container_fluid_detalle_producto">

            <div class="container_detalle_producto">
                 
                    <div class="div_img_product">
                        <img src="/img/<%=producto.imagen%>" style="width: 50%;"class="card-img-detalle-product" id="prodImg"alt="Detalle de Producto">   
                    </div>
                          
                    <div class="div_caracteristicas_producto">
                        <div class="col"> 
                            <h4 for="text">Características destacadas</h4>
                            <p class="card-text">Marca: <%=producto.marcas.nombre%></p>
                            <p class="card-text">Categoria: <%=producto.categorias.nombre%></p>
                            <p class="card-text"> Especificaciones: <%=producto.especificaciones.valor%> </p>
                            <p class="card-text" id="inventario"> Inventario: <%=producto.inventario%> </p>
                        </div>
                        <div class="col"> 
                            <h4 for="text">Resumen del producto</h4>
                            <p class="card-text"><%=producto.descripcion %></p>
                        </div>
                    </div>
            </div>

            <div class="container_datos_producto">
   
                    <div class="card_body_product">
                                        
                        <h3 id="name"><%=producto.nombre %> </h3>
                            
                        <a class="card-text">Más información</a>   
                                    
                            <div class="box-price">
                                    <span class="price2" style="font-size:26px;"><b>Descuento:<%=producto.descuento %> % </b></span>
                                    <div>
                                        <span class="price1" style="font-size:20px;"><strike>$<%=producto.precio %> </strike> Antes </span>
                                        <br>
                                        <span class="compra" style="font-size:28px; color: brown;" id="precio"> <b> $ <%=producto.precio - (producto.descuento * producto.precio / 100) %> </i> Hoy </b></span>
                                    </div>            
                            </div>
                                        <br>
                            <div class="d-grid gap-2 botones_detalle_producto">

                                    <button type="button" id="cartBtn" class="btn btn-secondary btn_detalle_producto">Agregar al Carrito</button>

                                    <a href="/products/editar_producto/<%=producto.id %>"><button type="button" class="btn btn-secondary btn_detalle_producto">Editar producto</button></a>  

                                    <form action="/products/delete/<%=producto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                                        <button type="submit" class="btn btn-secondary btn_detalle_producto">Eliminar Producto</button>
                                    </form>

                            </div>
                          
                    </div>
            </div>
        </div>
                    
    </main>
        <!--FOOTER-->
        <%- include("../partials/footer") %> 
            <!--FOOTER-->




            <script src="/js/carritoStorage.js"></script>
    </body>
</html>